# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HILLSIDE_SPEEDRUN_LEFT

config ZMK_KEYBOARD_NAME
    default "Eymeric keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HILLSIDE_SPEEDRUN_LEFT || SHIELD_HILLSIDE_SPEEDRUN_RIGHT

config ZMK_SPLIT
    default y

endif